* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: darkcyan;
    color: white;
}

.nav-link {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    background-color: rgb(1, 85, 85);
}

.navbar-brand {
    font-size: 1.25rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}

.main {
    background: url(./img1.png)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main h3 {
    font-size: 4.4rem;
    font-weight: 700;
}

.main h5 {
    font-size: 2rem;
    font-weight: 700;
}

.bt1 {
    background-color: darkcyan;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
}

.about {
    background-color: rgba(46, 172, 172, 0.24);
    background-size: cover;
    color:rgb(0, 0, 0);
}

.img-fluid {
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 28px -29px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 28px -29px rgba(0,0,0,0);
}

.card {
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 28px -29px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 0px 0px 28px -29px rgba(0,0,0,0);
}

.card p {
    color: rgb(0, 0, 0);

}

.card h4 {
    color: rgb(0, 0, 0);
}

.circle {
    height: 70;
    width: 70;
    background-color: rgb(29, 182, 182);
    color: rgb(255, 232, 102);
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.experience {
    background-color: rgba(46, 172, 172, 0.24);
    color: rgb(0, 0, 0);  
}

footer {
    background-color:darkcyan;
    color: white;
    text-align: center;
}

#porto .card {
    background-color: rgba(46, 172, 172, 0.24);
}